/* Media Queries */

@media screen and (max-width: 900px) {

.main {
    width: 90%; 
}

h1 {font-size: 1.5em;}
h2 {font-size: 1.3em;}
h3 {font-size: 1.1em;}

img:hover {
    transform: none;
    -ms-transform: none; /* IE 9 */
    -moz-transform: none; /* Firefox */
    -webkit-transform: none; /* Safari and Chrome */
    -o-transform: none; /* Opera */
  }

.flex-container, .flex-container-big {
  flex-direction: column;
  gap: 40px 50px;
}

.flex-container-mingap {
  flex-direction: column;
  align-items: center;
}

.center-service {text-align: center; width: 90%; margin: 40px auto 0 auto;}

 .flex-container-service {
  flex-direction: column;
  gap: 20px 50px;
  margin: 10px 0 15px 0;

}

.flex-item, .flex-item-big {
 width: 100%;
 height: auto;
}

.flex-item-service, .redcard , .greencard, .fit {
 text-align: center; 
 width: 95%;
 margin: 0 auto;

}

.fit-service {text-align: center; width: 98%; margin: 0 auto; padding: .1rem 0;}


.service {width: fit-content; text-align: justify; text-justify: inter-word; word-wrap: break-word;}
.service-hours {margin: 2px 0 0 20px !important; width: fit-content; text-align: left;}
.service-hours-indent {margin: 0 0 0 25px !important; width: fit-content; text-align: left;}
.service-link {margin: 2px 0 0 20px !important; width: fit-content; text-align: left;}


.flex-item-service-400 {
 text-align: center; 
 width: 95%; 
 margin: 0 auto;
}

@media screen and (min-width :901px) and (max-width: 1200px) {

}

}