* {
  box-sizing: border-box;
}

.row {
  margin: 2rem .25rem 1rem .25rem;
}

.rowbox {
  border: 1px solid #181818;
  border-radius: 1px;
}

.row > .column {
  padding: 0 8x;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
}

.column img {
  width: 10rem; padding: 1rem;
  cursor: pointer!important;
}

.column img:hover {
  background-color: var(--contrast-greenb);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 7;
  padding: 3rem 0 0 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  
}

.modal .hr50 {
  margin: 0 auto 2rem auto;
  text-align: center;
  width: 50%; 
  color: var(--bhover);
  background-color: var(--bhover);
  border: 1px solid white;
  border-radius: 5px;
  height: 1px;
}

.modal .hr100 {
  margin: 2rem auto; 
  text-align: center;
  height: 2px; 
  color: var(--contrast-green); 
  background-color: var(--contrast-green); 
  border: 1px solid var(--bhover); 
  border-radius: .5rem; 
  width: 100%;}

.modal .box {border: 1px solid var(--bhover); border-radius: 5px; padding: 1rem; margin: 0!important; background-color: #2d2c2c; color: white;}
.modal .ibox {border: 1px solid white; border-radius: 5px; padding: 1rem 1rem 0 1rem!important; margin: 1rem!important; background-color: #1C2833; color: white;}
.modal .intro {border: 1px solid white; border-radius: 5px; padding: 0!important; margin: 0 0 2rem 0!important; background-color: var(--contrast-green); color: white;}
.modal ul {
  margin: 0 0 0 0!important;
}

.modal p {
  line-height: 1.7;
  margin: 1rem!important;
  padding: 0!important;
}

.modal p:last-child {
  line-height: 1.7;
  margin: 1rem!important;
  padding: 0!important;
}

.modal .statement {
  font-size: 1.3rem;
  margin: 1rem 1rem 2rem 1rem!important;
  padding: 1rem!important;
  font-weight: 400;
}

.modal h3 {
  font-size: 2rem;
  margin: 0 0 1rem 0!important;
  padding: 0;
}

.modal h4 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: .5rem;
  padding: .2rem 1rem;
  height: auto;
  display: block;
  transition: all 300ms;
  color: #555;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: 0 auto 1rem auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: #aaa;
  text-align: right;
  color: red;
  font-size: 5rem;
  font-weight: 700;
  cursor: pointer!important;
  width: 98%;
  height: 5rem;
  margin: 0 auto;
  padding: 0;
}

/* The Close Button 
.close {
  color: red;
  font-size: 5rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20;
  right: 350px;
}

*/

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.mySlides figcaption {
  color: white;
}

.mySlides img {
  border: 1px solid transparent;
  border-radius: 10px;
  width: 80%; height: auto;
  margin: 0 auto;
  text-align: center;
}

.mySlides h2 {
  color: white;
  margin-left: 5rem;
}

.mySlides p {
  color: white;
  font-weight: 400;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #181818;
  background-color: white;
  font-size: 2rem;
  font-weight: 700;
  padding: 8px 12px;
  margin: 0 2rem 0 2rem;
  /*
  position: absolute;
  top: 0;
  margin: 0; 
  */
  width: fit-content;
  border: 1px solid white;
  border-radius: .5rem;
}

.subjname {
  font-size: 2.5rem;
  font-weight: bold!important;
}

.numbertext p {
color: white;
font-weight: 400;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

@media screen and (max-width: 900px) {

.close {
  position: absolute;
  top: 25px;
  right: 25px;
}

.column {
  float: none;
  width: 100%;
}
}