a.sticky-foot:link {color: var(--green); background-color: transparent; text-decoration: none; cursor:pointer;}
a.sticky-foot:visited {color: var(--green); background-color: transparent; text-decoration: none; cursor:pointer;}
a.sticky-foot:active {color: var(--red)!important; background-color: transparent; text-decoration: none; cursor:pointer;}
a.sticky-foot:hover {color: var(--blue)!important; background-color: transparent; text-decoration: none; cursor:pointer;}

.sticky-footer-position {position: fixed; right: 4.2%; bottom: 25px; background-color: transparent;}
.accessibility-layer {border: 0px solid black; border-radius: 5px; text-align: center; margin-left: auto; margin-right: auto; padding: 2px 0 1px 0; background-color: white; width: 40px; height: 40px;}
.sticky-scroll-button {position: fixed; right: 4.3%; bottom: 30px; width: 40px; height: 40px; text-align: center; margin: 0 auto; padding: 0;}
.sticky-foot-icon {font-size: 55px}

@media screen and (max-width: 900px) {
    .sticky-footer-position {
      position: fixed; right: 10px; bottom: 10px; background-color: transparent;
}


.sticky-footer-position {position: fixed; right: 10px; bottom: 10px; background-color: transparent;}
.accessibility-layer {border: 0px solid black; border-radius: 15px; padding: 0 0 0 0; text-align: center; margin:0 auto; background-color: white; width: 54px; height: 54px;}
.sticky-scroll-button {position: fixed; right: 12px; bottom: 24px; width: 50px; text-align: center; margin: 0 auto; padding: 2px 1px 1px 1px;}
.sticky-foot-icon {font-size: 50px}

}

@media (hover: hover) {
    a.sticky-foot:hover {color: var(---blue); text-decoration: none; cursor:pointer;}
    a.sticky-foot:active {color: var(--red); text-decoration: none; cursor:pointer;}
}

a.sticky-foot:active::after {
    document.getElementById("myHeader").focus();
}

