
a.sticky-foot:link {color: var(--green); background-color: transparent; text-decoration: none; cursor:pointer;}
a.sticky-foot:visited {color: var(--green); background-color: transparent; text-decoration: none; cursor:pointer;}
a.sticky-foot:active {color: var(--red); background-color: transparent; text-decoration: none; cursor:pointer;}

.sticky-footer-position {position: fixed; right: 4%; bottom: 1rem; background-color: transparent;}
.accessibility-layer {background-color:transparent;}
.sticky-scroll-button {width: 40px; height: 40px; text-align: center; vertical-align: middle; background-color: white;}
.sticky-foot-icon {position: fixed; right: 3.9%; bottom: .5rem; font-size: 60px; background-color: transparent;}

@media screen and (max-width: 900px) {
    .sticky-footer-position {
      position: fixed; right: 15px; bottom: 10px; background-color: transparent;
}

.accessibility-layer {border: 0px solid black; border-radius: 15px; padding: 0 0 0 0; text-align: center; margin:0 auto; background-color: white; width: 54px; height: 54px;}
.sticky-scroll-button {width: 50px; text-align: center; margin: 0 auto; padding: 2px 1px 1px 1px;background-color: transparent;}
.sticky-foot-icon {font-size: 50px; right: 20px; bottom: 12px;background-color: transparent;}

}

@media (hover: hover) {
    a.sticky-foot:hover {color: var(--contrast-blue); text-decoration: none; cursor:pointer;}
    a.sticky-foot:active {color: var(--contrast-red); text-decoration: none; cursor:pointer;}
}

/*
a.sticky-foot:active::after {
    document.getElementById("myHeader").focus();
}*/