html {
  background-color: #2d2c2c;
  color: white;
/*  font-family: 'Montserrat', sans-serif; */
/*  font-family: 'Open Sans', sans-serif; */ 
/*  font-family: 'Kanit', sans-serif; */
  font-family: 'Raleway', sans-serif; 
  text-align: left; 
  -webkit-font-smoothing: auto; 
  -moz-osx-font-smoothing: auto;

/* background color */
  --contrast-green: #44611F;  /*whitefont*/
  --contrast-opacity: rgba(0, 0, 0, 0.7);
  --contrast-opacity-green: rgba(68, 97, 31, 0.9);
  --contrast-blue: #1F5D84; /*whitefont*/
  --contrast-red: #AC1B1B; /*whitefont*/
  --contrast-black: #2d2c2c; /*whitefont*/
  --contrast-dark: #2d2c2c;
  --contrast-greenb: #C5E1A5; /* very light green */
  --excelgrey: rgb(215, 215, 215); /* tables: zebra striping*/
  --dgreen: #006A31; /* UNT darkgreen */
  --d2green: #00853E; /* UNT green */
  --lgreen: #72B844; /* UNT light green */
  --blink: transparent; /* #00853E*/
  --bhover: #C5E1A5; 
  --bactivate: orange;
  --hlink: #F1F8E9;

/* font colors */
  --fontdark: #2d2c2c; /* black */
  --fontlight: #FFFFFF; /* white */
  --fontdgreen: #006A31; /* darkgreen */
  --flink: #C5E1A5; /* white */
  --fhover: black;
  --factivate: red; 
}

p {margin-bottom: .5rem; font-family: 'Roboto Flex', sans-serif; line-height: 1.7;}

.blog-section {width: 88%; margin: 1rem auto;}

.head-grid {display: grid; grid-template-columns: 23% auto; gap: .01rem; padding: .5rem 0 1rem 0; height: auto; align-items: center;}
.head-mobile-grid  {display: grid; grid-template-columns: auto auto auto auto; gap: 1rem; padding: 1rem 0 0 0; width: 100%; height: auto; align-items: center;}
.head-mobile-grid2  {display: grid; grid-template-columns: auto auto auto; gap: .2rem; padding: .5rem 0 0 0; width: 100%; height: auto; align-items: center; margin: 0 auto;}

a.blogurl {padding: 1px 4px 2px 4px; font-weight: 800; margin-left: 1rem; border: 1px solid var(--contrast-green); border-radius: 5px; text-decoration: none;}
a.blogurl:link, a:visited {color: var(--contrast-black); background: var(--hlink);}
a.blogurl:hover {color: white; background-color: var(--contrast-blue);}
a.blogurl:active {color: orange; background-color: #A32314;}

a.noclass {padding: 0; margin: 0; color: transparent; background-color: transparent; border: none;}

a.headgrid-link:link {color: #181818; font-weight: 500; font-size: 1rem; background-color: transparent; border: 2px solid var(--contrast-green); text-decoration: none; padding: 2px 5px; margin: 5px; border-radius: 3px;}
a.headgrid-link:visited {color: #181818; font-weight: 500; font-size: 1rem; background-color: transparent; border: 2px solid var(--contrast-green); text-decoration: none; padding: 2px 5px; margin: 5px; border-radius: 3px;}
a.headgrid-link:hover {color: white !important; font-weight: 500; font-size: 1rem; background-color: #181818; border: 2px solid #006a31; text-decoration: none; padding: 2px 5px; margin: 5px; border-radius: 3px;}
a.headgrid-link:active {color: white; font-weight: 500; font-size: 1rem; background-color: orange; border: 2px solid orange; text-decoration: none; padding: 2px 5px; margin: 5px; border-radius: 3px;} 

.headgrid-button {padding: .1rem .4rem; margin: 1rem 0; border: 1px solid var(--contrast-black); border-radius: 5px; color: white; background-color:var(--contrast-green); font-size: 1.5rem; margin: 1rem 0;}
.headgrid-button-small {padding: .1rem .2rem; margin: 0; border: 1px solid var(--contrast-black); border-radius: 5px; color: white; background-color:var(--contrast-green); font-size: .8rem;}

.blog-container {border: 1px solid var(--bhover); border-radius: 5px; padding: .5rem 1rem 1rem 1rem; background-color: #2d2c2c; color: white;}
.blog-heading-container {border: 0px solid var(--bhover); border-radius: 5px; margin: 0 0 0 0;}
.blog-heading {font-weight: 800; font-size: 2rem; margin: 0;}
.blog-content {font-style: italic; margin: 0;}
.blog-anchors {display: grid; grid-template-columns: 4rem 300px; gap: 0 1rem; padding: 0; height: auto; align-items: center;}
.blogh {margin: .5rem 0 .75rem 1rem; width: 3rem; height: 3rem; padding: .5rem; border: 2px solid white; border-radius: 10px; cursor: pointer!important;}
.blogt {padding:0; margin: 0 0 1rem 0; color: white; font-weight: 600;}
.blogdeactive:active {transform:none; -ms-transform:none; -moz-transform:none; -webkit-transform:none; -transform:none;}  
.blog-post-info {border: 1px solid transparent; border-radius: 5px; padding: 1px 4px; font-size: .9rem; font-weight: 600; text-align: left; margin-top: 1rem;}
.blog-blog-info {border: 1px solid transparent; border-radius: 5px; padding: 1px 4px; font-size: .9rem; font-weight: 600; text-align: left; margin:0}
.bloglink {margin-bottom: 0; margin-left: 1rem; margin-top: 0; font-family: 'Roboto Flex', sans-serif; line-height: 1.4;}
.bloglink:last-child {margin-bottom: 1rem;}

a.blog-link:link {text-decoration: none; color: #181818; background-color: white;}
a.blog-link:visited {text-decoration: none; color: #181818; background-color: white;}
a.blog-link:hover {text-decoration: none; color: white; background-color: var(--contrast-blue);}
a.blog-link:active {text-decoration: none; color: #FFFF66; background-color: #A32314;}

@media screen and (max-width: 900px) {
  .headgrid-button {margin: 0 auto 1rem auto;}
  .headgrid-button-small {font-size: 1rem;}
}
/*# sourceMappingURL=styles.css.map */