/* Mobile Hide and Show */
.mobileShow {display:none;text-align:center;}
@media only screen and (min-device-width :320px) and (max-device-width :480px){.mobileShow {display:inline;}}
.mobileHide {display:inline;}
@media only screen and (min-device-width :320px)and (max-device-width :480px){.mobileHide { display:none;}}

/* Contrast values calculated using: https://webaim.org/resources/contrastchecker/ */

* {box-sizing: border-box;}

html {
  background-color: #2d2c2c;
  color: white;

/*  font-family: 'Montserrat', sans-serif; */
/*  font-family: 'Open Sans', sans-serif; */ 
/*  font-family: 'Kanit', sans-serif; */
/*  font-family: 'Roboto Mono', monospace; */

font-family: 'Raleway', sans-serif; 
  text-align: left; 
  -webkit-font-smoothing: auto; 
  -moz-osx-font-smoothing: auto;

/* background color */
  --contrast-green: #44611F;  /*whitefont*/
  --contrast-opacity: rgba(0, 0, 0, 0.7);
  --contrast-opacity-green: rgba(68, 97, 31, 0.9);
  --contrast-blue: #1F5D84; /*whitefont*/
  --contrast-red: #AC1B1B; /*whitefont*/
  --contrast-black: #2d2c2c; /*whitefont*/
  --contrast-dark: #2d2c2c;
  --contrast-greenb: #C5E1A5; /* very light green */
  --excelgrey: rgb(215, 215, 215); /* tables: zebra striping*/
  --dgreen: #006A31; /* UNT darkgreen */
  --d2green: #00853E; /* UNT green */
  --lgreen: #72B844; /* UNT light green */
  --blink: transparent; /* #00853E*/
  --bhover: #C5E1A5; 
  --bactivate: orange;
  --hlink: #F1F8E9;

/* font colors */
  --fontdark: #2d2c2c; /* black */
  --fontlight: #FFFFFF; /* white */
  --fontdgreen: #006A31; /* darkgreen */
  --flink: #C5E1A5; /* white */
  --fhover: black;
  --factivate: red; 
}

body {max-width: 100vw; margin: 0; padding: 0; line-height: 1.5;}

.line-numbers {margin-top: 1rem!important; margin-bottom: 1.5rem!important;}

h1 {margin: 1.5rem 0 .8rem 0; width: fit-content; cursor: text;}
h2, h3, h3, h4, h5, h6 {margin: .5rem 0 .5rem 0; width: fit-content; cursor: text; color: --contrast-black;}
p {margin: .5rem 0 1rem 0!important; text-align: justify; text-justify: inter-word; word-wrap: break-word; cursor: text; line-height: 1.7;}
/* p:last-child {margin: .35rem 0 1rem 0; width: fit-content; text-align: justify; text-justify: inter-word; word-wrap: break-word; cursor: text;} */

hr {margin: 1rem auto; height: 1px; background-color: white; border: .15rem solid #2d2c2c; outline: 0 solid var(--bhover); border-radius: .5rem; width: 100%;}
.hr-blog {margin: 1rem auto; height: 1px; background-color: var(--bhover); border: .15rem solid var(--contrast-black); border-radius: .5rem; width: 80%; text-align: center;}

.tophr {margin: 0 auto 0rem auto; height: 1px; background-color: var(--contrast-green); border: .15rem solid var(--bhover); border-radius: .5rem; width: 100%;}
.bothr {margin: 0 auto 1rem auto; height: 1px; background-color: var(--contrast-green); border: .15rem solid var(--bhover); border-radius: .5rem; width: 100%;}
.thicker {margin: 1rem auto; height: 2px; background-color: var(--bhover); border: .15rem solid var(--contrast-green); border-radius: .5rem; width: 100%;} 
.datefont {font-size: .75rem!important; margin: .5rem 0 0 0!important; font-weight: 500;}

a {cursor: pointer!important;}
ol {margin: 0 0 2rem 0}
ul {margin: 1rem 0;}
li {line-height: 1.7; margin:0 0 .15rem 0; text-align: left;}
.li-nobull {list-style: none; margin-bottom:.15rem;}
ol li {margin-bottom:.15rem; padding-left:1em;}
ul li {margin:0 0 .15rem 0;}

.color-invert {filter: invert(100%)}
.noleft {margin-left: 0}
figcaption {padding: 5px 0 15px 10px}

img:hover {
  cursor:zoom-in; 
}

.imgpointer {
  cursor: pointer!important;
}

img:active {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

p::selection, p b::selection {
  color: white;
  background: var(--contrast-green);
  
}

.norm {
  color: var(--contrast-dark);
  background-color: var(--bhover);  
  text-decoration: none;
  padding: 1px 4px 1px 2px;
  margin: 0; 
  border: 1px solid var(--contrast-green);
  border-radius: 5px;
  font-weight: 600;
}

a.norm {
  color: var(--contrast-black);
  background: var(--hlink);
  text-decoration: none;
  padding: 1px 4px 1px 2px;
  margin: 0; 
  border: 1px solid var(--contrast-green);
  border-radius: 5px;
}

a.dated {
  color: var(--contrast-white);
  background-color: var(--contrast-green);  
  text-decoration: none;
  padding: 1px 4px 1px 2px;
  margin: 0; 
  border: 1px solid var(--contrast-green);
  border-radius: 5px;
}

a.norm:hover, a.dated:hover {
  color: var(--contrast-white);
  background-color: var(--contrast-blue);  
}

a.norm:active a.dated:active {
  color: orange;
  background-color: red; 
}

p a, li a, h2 a, h3 a, .flex-item-service a, .flex-item-service a {

  padding: 0 4px 0 2px;
  border: 1px solid black!important;
  border-radius: 5px;
  outline:1px solid white!important;
  color: black; 
  text-decoration: none;
  margin: 0;
  font-weight: 600;
}

.qlink {
  color: #181818; 
  text-decoration: none;
  margin: .1rem 1rem .1rem 1rem;
}

p a::before, li a::before, h2 a::before, h3 a::before, .flex-item-service a::before {
  content: "";
  font-weight: 400;
}

p a::after, li a::after,  h2 a::after, h3 a::after, .flex-item-service a::after {
  content: "";
  font-weight: 400;
}

p a:link, p a:visited, li a:link, li a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, .flex-item-service a:link, .flex-item-service a:visited  {
  color: black;
  background:  var(--hlink);
}

p a:hover, li a:hover, h2 a:hover, h3 a:hover, .flex-item-service a:hover  {
  color: white;
  background-color: var(--contrast-blue);
}

p a:active, li a:active, h2 a:active, h3 a:active, .flex-item-service a:active {
  color: #FFFF66;
  background-color: #A32314;
  border: 1px solid #FFFF66!important;
  outline:1px solid #A32314!important;
}

p a::selection, .flex-item-service a::selection  {
  color: white; 
  background-color: var(--contrast-red);
}

p a:hover::selection, .flex-item-service a:hover::selection {
  color: white; 
  background-color: var(--contrast-blue);
}

/* Contrast Ratio: 7.14 */
 h1::selection {color: white; background-color: var(--contrast-blue);}
 h2::selection {color: white; background-color: var(--contrast-blue);}
 h3::selection {color: white; background-color: var(--contrast-blue);}
 h4::selection {color: white; background-color: var(--contrast-blue);}
 h5::selection {color: white; background-color: var(--contrast-blue);}
 h6::selection {color: white; background-color: var(--contrast-blue);}

 h1 b::selection {color: white; background-color: var(--contrast-blue);}
 h2 b::selection {color: white; background-color: var(--contrast-blue);}
 h3 b::selection {color: white; background-color: var(--contrast-blue);}
 h4 b::selection {color: white; background-color: var(--contrast-blue);}
 h5 b::selection {color: white; background-color: var(--contrast-blue);}
 h6 b::selection {color: white; background-color: var(--contrast-blue);}

/* Main */

.main {
    width: 80%; 
    margin: 2rem auto!important;
}

.main-brd {width: 80%; border: 1px solid var(--bhover); border-radius: 5px; padding: 1rem .5rem; margin: 0 auto 2rem auto!important; background-color: #2d2c2c; color: white;} 

/* Section */

.section {
    margin: 1rem 0 1.5rem 0;
}

/* Fonts */
.raleway {font-family: "Raleway", sans-serif;}

/* Title */
.sub {margin: 0 0 25px 0;}
.par {margin: 0 0 10px 0;}
.shade {text-shadow: 2px 2px 4px #1E8449;}

/* Classes */

.fwhite {filter: invert(100%);}

.container {margin: 10px 0 0 0;}
.center {text-align: center; width: 100%; margin: 0 auto;}
.centerfit {text-align: center; width: fit-content; margin: 0 auto;}
.centerhalf {text-align: center; width: 50%; margin: 0 auto;}
.center90 {text-align: center; width: 90%; margin: 0 auto;}
.center80 {text-align: center; width: 80%; margin: 0 auto;}
.fit-service {text-align: center; width: 87%; margin: 0 0 0 0; padding: .1rem 0;}
.center:last-child {cursor: text;}

.size400 {width: 400px; height: auto;}
.service {border: 2px solid var(--d2green); border-radius: 10px; padding: 10px; margin: 1rem 0 1rem 0 !important; background-color: #F1F8E9; font-size:.9rem;}
.service-font {color: var(--contrast-green); font-weight: 600px;}
.service-2col {display: grid; grid-template-columns: 9rem auto; gap: .25rem 0; padding: 0; margin: 0 0 0 0; height: auto;}
.service-hours {margin: 0; padding: 0; font-weight: 700; font-size: 1.1rem;}
.service-hours-time {margin: 0; padding: 0; font-weight: 600; font-size: 1.1rem; color: var(--dgreen);}
.rmarg {margin: .5rem!important; padding: 0!important;}
.rindent {margin: 0 0 .3rem .5rem!important; padding: 0!important;}
.rindent2 {margin: 0 0 .3rem 1rem!important; padding: 0!important;}

.greenbg {background-color: #00853E;}
.redbg {background-color: #D32F2F;}
.blackbg {background-color: #181818;}
.whitebg {background-color: white;}
.darkbg {background-color:#2d2c2c;}
.bluebg {background-color: #1F5D84}

.sub {text-indent: 1rem;}
.subt {text-decoration: underline; font-weight: 700;}

.manager {padding-bottom: 10px;}
.pad-item {padding: 20px;}
.fit {width: fit-content;}

.shadow-green {box-shadow: 0px 3px 32px 7px rgba(65,117,5,0.39), 0px 3px 6px 0px rgba(0,0,0,0.23);}

.encapsulate {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: .5rem;
    padding: 1rem;
    height: auto;
    display: block;
    transition: all 300ms;
    color: #555;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
}

.encapsulate-pad {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: .5rem;
    padding: 0 0 .5rem 2rem;
    flex: 0 0 17.3vw;
    height: auto;
    display: block;
    transition: all 300ms;
    color: #555;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
}

.mark {
    border-radius: .5rem;
    padding: .5rem;
    margin: 1.2rem 0 1.2rem 0;
    flex: 0 0 17.3vw;
    height: auto;
    display: block;
    transition: all 300ms;
    color: #555;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.redcard {
    box-shadow: 0 0 0 2px rgba(218,102,123,1), 8px 8px 0 0 rgba(218,102,123,1);
    width: 80%;
    height: auto; 
    padding: 1rem 2rem;
    margin: 2rem 1rem 2rem 1rem;
    background: #FDEDEC;
    border-radius: 1rem;    
}

.redcard hr {
    margin: 1em; height: 2px; background-color: rgba(218,102,123,1); border: 0px solid #181818; border-radius: 5px; width: 98%; 
}

.greencard {
    box-shadow: 0 0 0 2px rgba(68, 97, 31,1), 8px 8px 0 0 rgba(68, 97, 31,1);
    width: 80%;
    height: auto; 
    padding: 1rem 2rem;
    margin: 2rem 1rem 2rem 1rem;
    background: #FBFCFC;
    border-radius: 1rem;    
}

.greencard hr {
    margin: 1em auto; height: 2px; background-color: rgba(68, 97, 31,1); border: 0px solid #181818; border-radius: 5px; width: 100%; 
}
 
.linkbox {
   box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px 0px inset;
    width: fit-content;
    height: auto; 
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem 1rem 3rem 1rem;
}

.service-box {
  box-shadow: 0 0 5px 5px rgba(68, 97, 31,1)
}

.green-shadow {
    box-shadow: rgba(68, 97, 31, 0.4) -5px -5px, 
                rgba(68, 97, 31, 0.3) -10px -10px, 
                rgba(68, 97, 31, 0.2) -15px -15px, 
                rgba(68, 97, 31, 0.1) -20px -20px, 
                rgba(68, 97, 31, 0.05) -25px -25px;
}

.gray-shadow {
    box-shadow: rgba(24, 24, 24, 0.4) -5px -5px, 
                rgba(24, 24, 24, 0.3) -10px -10px, 
                rgba(24, 24, 24, 0.2) -15px -15px, 
                rgba(24, 24, 24, 0.1) -20px -20px, 
                rgba(24, 24, 24, 0.05) -25px -25px;
}

.red-shadow { 
    box-shadow: rgba(204, 0, 0, 0.4)  5px 5px, 
                rgba(204, 0, 0, 0.3) 10px 10px, 
                rgba(204, 0, 0, 0.2) 15px 15px, 
                rgba(204, 0, 0, 0.1) 20px 20px, 
                rgba(204, 0, 0, 0.05) 25px 25px;
}

.blue-shadow { 
    box-shadow: rgba(0, 102, 255, 0.4) -5px -5px, 
                rgba(0, 102, 255, 0.3) -10px -10px, 
                rgba(0, 102, 255, 0.2) -15px -15px, 
                rgba(0, 102, 255, 0.1) -20px -20px, 
                rgba(0, 102, 255, 0.05) -25px -25px;
}

/*  Info Container */

.flex-container {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem 0 2rem 0;
  gap: 40px 100px;
}

.flex-container-2 {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem auto 1rem auto;
  width: 100%;
  gap: .5rem 1rem;
  text-align: center;
}

.flex-container-mingap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}

.flex-container-service {
  padding: 1rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  width: fit-content;
}

.flex-container-big {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 50px 0 0 0;
  gap: 40px 20px;
}

.flex-item {
  width: calc(25% - 15px);
  height: auto;
}

.flex-item-50 {
  width: 40%;
  margin: 0;
  height: auto;
  text-align: left;
}

.flex-item-50 span {
  margin-right: 1rem;
  font-weight: 600;
}

.flex-item-service {
  width: fit-content;
  height: auto;
  margin: 0 2.5rem;
  align-items: top;
  text-align: left; 
  text-justify: inter-word; 
  word-wrap: break-word;
}

.service-wide {
  width: 25rem;
}

.flex-item-service h3 {
  margin: .7rem 0 .3rem 0;
}

.flex-item-service h4 {
  margin: .7rem 0 0 0; 
  width: fit-content;
}

.flex-item-service p {
  margin: 0 0 .3rem .7rem; 
  width: fit-content; 
  text-align: left;
}

.flex-item-service hr {
  margin: 1em auto; height: 2px; background-color: rgba(68, 97, 31,1); border: 0px solid #181818; border-radius: 5px; width: 100%; 
}

.service-pad {
  height: .5rem; color: transparent; background-color: transparent; border: none;
}

.flex-item-fixed {
  width: 400px;
  height: 400px; 
  overflow: hidden;
}

.flex-item-big {
  width: calc(50% - 15px);
  height: auto;
}

.flex-item img {
  box-shadow: rgba(0, 0, 0, .7) 0px 2px 4px, rgba(0, 0, 0, .6) 0px 7px 18px -3px, rgba(0, 0, 0, .5) 0px -3px 0px inset;
  border-top: 1px solid #848884;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.flex-item-fixed img {
  box-shadow: rgba(0, 0, 0, .7) 0px 2px 4px, rgba(0, 0, 0, .6) 0px 7px 18px -3px, rgba(0, 0, 0, .5) 0px -3px 0px inset;
  border-top: 1px solid #848884;
  border-radius: 10px;
  padding: 15px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.flex-item-big img {
  box-shadow: rgba(0, 0, 0, .7) 0px 2px 4px, rgba(0, 0, 0, .6) 0px 7px 18px -3px, rgba(0, 0, 0, .5) 0px -3px 0px inset;
  border-top: 1px solid #848884;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.flex-item figcaption, .flex-item-service figcaption, .flex-item-fixed figcaption {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  width: 96%;
  margin: 10px 10px 0 8px;
  padding: 5px; 
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.flex-item-big figcaption {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  width: 96%;
  margin: 10px 10px 0 15px;
  padding: 5px; 
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.flex-item hr, .flex-item-big hr, .flex-item-fixed hr {
 margin: 15px auto 0 auto; 
 text-align: center;
 width: 96%;
 height: 3px;
 background-color: #1E8449; 
 border: 1px solid #181818; 
 border-radius: 5px;
}

/* In page anchors */
#instructions {margin: 0 0 40px 0;}
