a.side-nav:link {color: white; background-color: transparent; text-decoration: underline; -webkit-text-decoration-color:transparent; text-decoration-color:transparent; border-radius: 5px;}
a.side-nav:visited {color: white; background-color: transparent; text-decoration: underline; -webkit-text-decoration-color:transparent; text-decoration-color:transparent; border-radius: 5px;}
a.side-nav:hover {color: #00853E; background-color: transparent; text-decoration: underline; -webkit-text-decoration-color:transparent; text-decoration-color:transparent; border-radius: 5px;}
a.side-nav:active {color: red; background-color: orange; text-decoration: underline; -webkit-text-decoration-color:transparent; text-decoration-color:transparent; border-radius: 5px;}

/* Postion 35px to center along side gutter */

/* Navs
#my-left-nav a {transition: 0.3s; padding: 1px 0 0 0; border: 2px solid #006A31; border-radius: 5px; background: rgba(0,106,49, 0.80);}
#my-left-nav a:hover {left: -3px; color:  #00853E; background-color: #72B844;}
.left-tab1 {position: absolute; left: -3px; top: 225px; width: 100px; height: 48px; text-align: center; text-decoration: none; font-size: 14px; font-weight: 600;} 
.left-tab2 {position: absolute; left: -3px; top: 278px; width: 100px; height: 48px; text-align: center; text-decoration: none; font-size: 14px; font-weight: 600;}
.left-tab3 {position: absolute; left: -3px; top: 331px; width: 100px; height: 48px; text-align: center; text-decoration: none; font-size: 14px; font-weight: 600;}

#my-right-nav a {transition: 0.3s; padding: 1px 0 0 0; border: 2px solid black; border-radius: 5px; background: rgba(0,106,49, 0.80);}
#my-right-nav a:hover {right: -3px; color:  #00853E; background-color: #72B844;}
.right-tab1 {position: absolute; right: -3px; top: 225px; width: 100px; height: 48px; text-align: center; text-decoration: none; font-size: 14px; font-weight: 600;} 
.right-tab2 {position: absolute; right: -3px; top: 278px; width: 100px; height: 48px; text-align: center; text-decoration: none; font-size: 14px; font-weight: 600;}
.right-tab3 {position: absolute; right: -3px; top: 331px; width: 100px; height: 48px; text-align: center; text-decoration: none; font-size: 14px; font-weight: 600;}

*/