/* Mobile Hide and Show */
.mobileShow {display:none;text-align:center;}
@media only screen and (min-device-width :320px) and (max-device-width :480px){.mobileShow {display:inline;}}
.mobileHide {display:inline;}
@media only screen and (min-device-width :320px)and (max-device-width :480px){.mobileHide { display:none;}}

/* Contrast values calculated using: https://webaim.org/resources/contrastchecker/ */

* {box-sizing: border-box;}

html {
  background-color: white; 
  font-family: 'Open Sans', sans-serif; 
  text-align: left; 
  -webkit-font-smoothing: auto; 
  -moz-osx-font-smoothing: auto;

/* background color */
  --contrast-green: #44611F;  /*whitefont*/
  --contrast-blue: #1F5D84; /*whitefont*/
  --contrast-red: #AC1B1B; /*whitefont*/
  --contrast-black: #181818; /*whitefont*/
  --contrast-greenb: #C5E1A5; /* very light green */
  --excelgrey: rgb(215, 215, 215); /* tables: zebra striping*/
  --dgreen: #006A31; /* UNT darkgreen */
  --d2green: #00853E; /* UNT green */
  --blink: #00853E;
  --bhover: #C5E1A5; 
  --bactivate: orange;

/* font colors */
  --fontdark: #181818; /* black */
  --fontlight: #FFFFFF; /* white */
  --fontdgreen: #006A31; /* darkgreen */
  --flink: white;
  --fhover: black;
  --factivate: red; 
}

body {max-width: 100vw; margin: 0; padding: 0; background-color: white; color: #181818; line-height: 1.5;}

h1 {margin: 15px 0 5px 0; width: fit-content; cursor: text;}
h2, h3, h3, h4, h5, h6 {margin: 15px 0 10px 0; width: fit-content; cursor: text;}
p {margin: 5px 0 10px 0; width: fit-content; text-align: justify; text-justify: inter-word; word-wrap: break-word; cursor: text;}
hr {margin: 15px 0; height: 3px; background-color: #1E8449; border: 1px solid #181818; border-radius: 5px;}
a {cursor: pointer!important;}
li {line-height: 1.7;}
figcaption {padding: 5px 0 15px 10px}

img:hover {
  cursor:zoom-in; 
}

.imgpointer {
  cursor: pointer!important;
}

img:active {
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
}

p::selection, p b::selection {
  color: white;
  background: var(--contrast-green);
  
}

p a { 
  color: #181818; 
  text-decoration: none;
  padding: 1px 0 1px 0;
}

/* Adds link symbol after URL text
p a::after {
  display: none; 
  content: '\f0c1';
  font-weight: 900;
  font: var(--fa-font-solid);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

*/

p a:link, p a:visited {
  color: var(--contrast-black);
  background:  var(--contrast-greenb);
}

p a:hover {
  color: white;
  background-color: var(--contrast-blue);
}

p a:active {
  color: #FFFF66;
  background-color: #A32314;
}

p a::selection {
  color: white; 
  background-color: var(--contrast-red);
}

p a:hover::selection {
  color: white; 
  background-color: var(--contrast-blue);
}

/* Contrast Ratio: 7.14 */
 h1::selection {color: white; background-color: var(--contrast-blue);}
 h2::selection {color: white; background-color: var(--contrast-blue);}
 h3::selection {color: white; background-color: var(--contrast-blue);}
 h4::selection {color: white; background-color: var(--contrast-blue);}
 h5::selection {color: white; background-color: var(--contrast-blue);}
 h6::selection {color: white; background-color: var(--contrast-blue);}

/* Main */

.main {
    width: 80%; 
    margin: 10px auto 40px auto;
}

/* Section */

.section {
    margin: 10px 0 25px 0;
}

/* Fonts */
.raleway {font-family: "Raleway", sans-serif;}

/* Title */
.head {margin: 0 0 40px 0;}
.sub {margin: 0 0 25px 0;}
.par {margin: 0 0 10px 0;}
.shade {text-shadow: 2px 2px 4px #1E8449;}

/* Classes */

.container {margin: 10px 0 0 0;}
.center {text-align: center; width: 100%; margin: 0 auto;}
.centerfit {text-align: center; width: fit-content; margin: 0 auto;}
.centerhalf {text-align: center; width: 50%; margin: 0 auto;}
.center90 {text-align: center; width: 90%; margin: 0 auto;}
.center80 {text-align: center; width: 80%; margin: 0 auto;}
.center-service {text-align: center; width: 80%; margin: 40px auto 0 auto;}

.size400 {width: 400px; height: auto;}
.service {border: 1px solid var(--contrast-green); border-radius: 10px; padding: 10px; margin: 20px 0 0 0 !important;}
.service-font {color: var(--contrast-green); font-weight: 600px;}
.service-hours {margin: 2px 0 0 0 !important; width: fit-content; text-align: left;}
.service-hours-indent {margin: 0 0 0 5px !important; width: fit-content; text-align: left;}

.greenbg {background-color: #00853E;}
.redbg {background-color: #D32F2F;}
.blackbg {background-color: #181818;}
.whitebg {background-color: white;}

.manager {padding-bottom: 10px;}
.pad-item {padding: 20px;}
.fit {width: fit-content;}

.shadow-green {box-shadow: 0px 3px 32px 7px rgba(65,117,5,0.39), 0px 3px 6px 0px rgba(0,0,0,0.23);}

.encapsulate {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    flex: 0 0 17.3vw;
    height: auto;
    display: block;
    transition: all 300ms;
    color: #555;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
}

.mark {
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0 20px 0;
    flex: 0 0 17.3vw;
    height: auto;
    display: block;
    transition: all 300ms;
    color: #555;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    overflow: hidden;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
}

.green-shadow {
    box-shadow: rgba(68, 97, 31, 0.4) -5px -5px, 
                rgba(68, 97, 31, 0.3) -10px -10px, 
                rgba(68, 97, 31, 0.2) -15px -15px, 
                rgba(68, 97, 31, 0.1) -20px -20px, 
                rgba(68, 97, 31, 0.05) -25px -25px;
}

.gray-shadow {
    box-shadow: rgba(24, 24, 24, 0.4) -5px -5px, 
                rgba(24, 24, 24, 0.3) -10px -10px, 
                rgba(24, 24, 24, 0.2) -15px -15px, 
                rgba(24, 24, 24, 0.1) -20px -20px, 
                rgba(24, 24, 24, 0.05) -25px -25px;
}

.red-shadow { 
    box-shadow: rgba(204, 0, 0, 0.4) -5px -5px, 
                rgba(204, 0, 0, 0.3) -10px -10px, 
                rgba(204, 0, 0, 0.2) -15px -15px, 
                rgba(204, 0, 0, 0.1) -20px -20px, 
                rgba(204, 0, 0, 0.05) -25px -25px;
}

.blue-shadow { 
    box-shadow: rgba(0, 102, 255, 0.4) -5px -5px, 
                rgba(0, 102, 255, 0.3) -10px -10px, 
                rgba(0, 102, 255, 0.2) -15px -15px, 
                rgba(0, 102, 255, 0.1) -20px -20px, 
                rgba(0, 102, 255, 0.05) -25px -25px;
}

/* Info Container */

.flex-container {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 50px 0 0 0;
  gap: 40px 100px;
}

.flex-container-service {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px 0 15px 0;
  gap: 40px 50px;
}

.flex-container-big {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 50px 0 0 0;
  gap: 40px 20px;
}

.flex-item {
  width: calc(25% - 15px);
  height: auto;
}

.flex-item-service {
  width: 200px;
  height: auto;
  text-align: justify; 
  text-justify: inter-word; 
  word-wrap: break-word;
}

.flex-item-service-400 {
  width: 400px;
}

.flex-item-service h3 {
  margin: 10px 0 5px 0;
}

.flex-item-service-400 h3 {
  margin: 10px 0 5px 0;
}

.flex-item-service h4 {
  margin: 10px 0 0 0; 
  width: fit-content;
}

.flex-item-service p {
  margin: 0px 0 5px 10px; 
  width: fit-content; 
  text-align: left;
}

.flex-item-service-400 p {
  margin: 0px 0 5px 0;
}

.flex-item-service hr {
 margin: 15px auto 15px auto; 
 text-align: center;
 width: 100%;
 height: 3px;
 background-color: #1E8449; 
 border: 1px solid #181818; 
 border-radius: 5px;
}

.service-pad {
  height: 10px;
}

.flex-item-fixed {
  width: 400px;
  height: 400px; 
  overflow: hidden;
}

.flex-item-big {
  width: calc(50% - 15px);
  height: auto;
}

.flex-item img {
  box-shadow: rgba(0, 0, 0, .7) 0px 2px 4px, rgba(0, 0, 0, .6) 0px 7px 18px -3px, rgba(0, 0, 0, .5) 0px -3px 0px inset;
  border-top: 1px solid #848884;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.flex-item-fixed img {
  box-shadow: rgba(0, 0, 0, .7) 0px 2px 4px, rgba(0, 0, 0, .6) 0px 7px 18px -3px, rgba(0, 0, 0, .5) 0px -3px 0px inset;
  border-top: 1px solid #848884;
  border-radius: 10px;
  padding: 15px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.flex-item-big img {
  box-shadow: rgba(0, 0, 0, .7) 0px 2px 4px, rgba(0, 0, 0, .6) 0px 7px 18px -3px, rgba(0, 0, 0, .5) 0px -3px 0px inset;
  border-top: 1px solid #848884;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.flex-item figcaption, .flex-item-service figcaption, .flex-item-fixed figcaption {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  width: 96%;
  margin: 10px 10px 0 8px;
  padding: 5px; 
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #C5E1A5;
}

.flex-item-big figcaption {
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  width: 96%;
  margin: 10px 10px 0 15px;
  padding: 5px; 
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #C5E1A5;
}

.flex-item hr, .flex-item-big hr, .flex-item-fixed hr {
 margin: 15px auto 0 auto; 
 text-align: center;
 width: 96%;
 height: 3px;
 background-color: #1E8449; 
 border: 1px solid #181818; 
 border-radius: 5px;
}

/* In page anchors */
#instructions {margin: 0 0 40px 0;}
